<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <meta charset="utf-8">
    <title>Prueba</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='style.css')}}" >  
  </head>
  <body>
    <!-- JS Content -->
    <script type="text/javascript">

var socket = io.connect('http://' + document.domain + ':' + location.port);
var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
//var source = audioCtx.createBufferSource();
var nextStartTime = 0;
var next_schedule = 0;

socket.on( 'connect', function() {
    socket.emit( 'my event', {
        data: 'User Connected'
    })
})

socket.on( 'messages_list', function(msg) {
    armar_tabla(msg)
    <!-- var msg_holder = document.getElementById('message_holder'); -->
    <!-- const last_content = msg_holder.innerHTML; -->
    <!-- msg_holder.innerHTML = last_content -->
    <!--     + '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>'; -->
})

function armar_tabla (message) {
//html

}
function createSoundSource(audioData) {
    //var audioCtx = new (window.AudioContext || window.webkitAudioContext)();

    //copy - paste
    //var view = new Int16Array(event.data);
    //var viewf = new Float32Array(view.length);
    //
    //audioBuffer = audioCtx.createBuffer(1, viewf.length, 22050);
    //audioBuffer.getChannelData(0).set(viewf);
    //source = audioCtx.createBufferSource();
    //source.buffer = audioBuffer;
    //source.connect(audioCtx.destination);
    //source.start(0);

    audioCtx.resume();
    var audiobuf = new Float32Array(audioData);
    //console.log('audiobuf[0]: '+ audiobuf[0]);

    // creo el buffer de audio, pido referencia y le copio las muestras
    audioBuffer = audioCtx.createBuffer(1, audiobuf.length, 44100);
    var samples_ref = audioBuffer.getChannelData(0);
    samples_ref.set(audiobuf);

    //for (var i = 0; i < audiobuf.length; i++) {
    //                    samples_ref[i] = audiobuf[i] / 32768;
    //                    //samples_ref[i] = audiobuf[i];                          
    //                    }      

    //audioBuffer.getChannelData(0).set(audiobuf_f);

    // genero senoidal de 200Hz a 44100Hz, un segundo de largo
    // const freq = 200;
    // const samplerate = 44100;
    // const secs = 10;
    // const amplitude = 0.5;
      
    //var senbuf = new Int16Array(samplerate * secs);
    //console.log('senbuf.len: '+ senbuf.length);

    //audioBuffer = audioCtx.createBuffer(1, senbuf.length, samplerate);
    //var samples_ref = audioBuffer.getChannelData(0);
    
    //for (var i = 0; i < senbuf.length; i++) {
    //                    samples_ref[i] = amplitude * Math.sin(6.28 * freq * i / samplerate);
    //                    }      
      
    var source = audioCtx.createBufferSource();
    source.buffer = audioBuffer;
    source.connect(audioCtx.destination);
    if (nextStartTime == 0) {
        // este es el primer packete
        // me guardo el primer buffer y ajusto los contadores
        schedule_time = audioBuffer.length / audioBuffer.sampleRate;              
        nextStartTime = audioCtx.currentTime + schedule_time;
        next_schedule = nextStartTime;
        console.log('start schedule: '+ schedule_time);        
    } else {
        if (next_schedule < audioCtx.currentTime) {
            //se agoto el primer buffer dejo pasar un schedule
            nextStartTime = next_schedule + schedule_time;
            console.log('next: '+next_schedule + 'current: '+ audioCtx.currentTime);
        }
        else {
            // todavia tengo algo de buffer calculo el tiempo de comienzo del proximo chunk
            nextStartTime = audioCtx.currentTime - next_schedule;
            if (nextStartTime < 0)
                nextStartTime = 0;
            console.log('.');            
        }
        next_schedule += schedule_time;
    }

    source.start(nextStartTime);
    nextStartTime += audioBuffer.length / audioBuffer.sampleRate;
    //source.start(0);
}
      
socket.on('audio', function(msg) {
    var chunks = [];
    chunks = msg.data;
    //console.log('msg length: ' + chunks.length);
    createSoundSource(chunks);
})

      
function button1Function() {
    socket.emit( 'my event', {
        data: 'Button 1 Pressed'
    })
}

function button2Function() {      
    //var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
    var oscillator = audioCtx.createOscillator();
    oscillator.type = 'sine';
    oscillator.frequency.setValueAtTime(440, audioCtx.currentTime); // value in hertz
    oscillator.connect(audioCtx.destination);
    oscillator.start();
    oscillator.stop(audioCtx.currentTime + 1); // stop 1 seconds after the current time
}

function initAudioBuffer() {
    const soundSource = context.createBufferSource();
    soundSource.buffer = soundBuffer;
    soundSource.connect(context.destination);
    soundSource.start(0);
}

function button3Function() {      
    socket.emit( 'my event', {
        data: 'Button 3 Pressed'
    })
    nextStartTime = 0;
}
      
    </script>
    <!-- page content -->
    <h1>PRUEBA CONTROL AUDIO (SocketsIO)</h1>
    <h2>Proyecto VHF por IP</h2>

    <!-- audio control -->
    <audio controls></audio>

    <p>Elija la acción a seguir:</p>
    <button onclick="button1Function()" class="button button1">Button 01</button>
    <button onclick="button2Function()" class="button button2">Button 02</button>
    <button onclick="button3Function()" class="button button3">Button 03</button>
    <h2>Messages from server:</h2>
    <div id="message_holder"></div>

  </body>
</html>
